<%- include("./include/head", { title: "Create Bot"}) %>
<%- include("./include/nav") %>
<body>
  <link rel="stylesheet" href="css/createbot.css">
  <link rel="stylesheet" href="css/milrato-sweetalert.css"> 
  
    <div class="cointainer">
    <div class="title"><h1>Create Bot</h1></div>
      <p>Make sure all intents are on or it will not work!</p>
    <form action="/create-bot" method="POST" onsubmit="return onSubmit(this)">
    <div class="bot-details">
    <div class="info-input">
    <span class="detail">Bot ID <span style="color: rgb(175, 22, 22)">*</span><span class="tips">Discord Snowflake ❄️</span></span>
    <input type="number" placeholder="Your Bot ID" name="id" id="id" required="true"></input>
    </div>
    <div class="info-input">
    <span class="detail">Bot Token <span style="color: rgb(175, 22, 22)">*</span><span class="tips">Discord Token 🚀</span></span>
    <input class="token" type="password" placeholder="Your Bot Token" name="token" id="token" required></input>
    </div>
    <div class="info-input">
    <span class="detail">Bot Name <span style="color: rgb(175, 22, 22)">*</span><span class="tips">Max 15 chars</span></span>
    <input type="text" placeholder="Your Bot Name" name="name" id="name" required></input>
    </div>
    <div class="info-input">
    <span class="detail">Deploy Prefix <span style="color: rgb(175, 22, 22)">*</span><span class="tips">Prefix for deploying SlashCommands</span></span>
    <input type="text" placeholder="Example: !" name="prefix" id="prefix" required></input>
    </div>
    <div class="info-input">
    <span class="detail">Your ID ( Bot Creator ) <span style="color: rgb(175, 22, 22)">*</span><span class="tips">Discord Snowflake ❄️</span></span>
    <input type="text" value="<%= user.id %>" placeholder="Your Discord ID" name="botmakerid" id="botmakerid" required></input>
    </div>
    <div class="info-input">
    <span class="detail">Customer's ID ( Owner ID ) <span style="color: rgb(175, 22, 22)">*</span><span class="tips">Discord Snowflake ❄️</span></span>
    <input type="number" placeholder="Customer Discord ID" name="owner_id" id="owner_id" required></input>
    </div>
    <div class="info-input">
    <span class="detail">Bot type <span style="color: rgb(175, 22, 22)">*</span><span class="tips">Ticket Bot, Chat Bot, ect.</span></span>
     
    <select name="type" id="type">
        <% config.bot.type.map(t => {%>
            <option value="<%= t %>"><%= t %></option>
        <% }); %>
    </select> 
          
    </div>
                  <div class="info-input">
    <span class="detail">Activity Text <span style="color: rgb(175, 22, 22)">*</span><span class="tips">String, Max 20 chars</span></span>
    <input type="text" placeholder="Activity text" name="activity_status" id="activity_status" required></input>
     </div>
    <div class="info-input">
        <span class="detail">Activity Type <span style="color: rgb(175, 22, 22)">*</span><span class="tips">Dnd, Online, Idle</span></span>
         
        <select name="activity_type" id="activitytypes">
            <% config.bot.statustype.map(t => {%>
            <option value="<%= t %>"><%= t %></option>
            <% }); %>
        </select>
              </div>
        <div class="info-input">
        <span class="detail">File Name <span style="color: rgb(175, 22, 22)">*</span><span class="tips">The File Name Where Bot Is Stored At</span></span>
        <input type="text" placeholder="ticket_bot" name="filename" id="filename" required value="<%= Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5) %>"></input>
    </div>
    <div class="info-input">
        <span class="detail">Ticket Channel <span style="color: rgb(175, 22, 22)">*</span><span class="tips">Buyer Ticket Channel</span></span>
        
        <select name="ticket" id="ticketchannels">
        <% channels.map(ch => {%>
        <option value="#<%= ch.name %>">#<%= ch.name %></option>
        <br>
        <% }); %>
        </select>
    </div>
   <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </div>
    <div class="button">
    <button type="submit">Create the Bot</button>
    </div>
    </form>
</div>
<script>
function onSubmit(e) {
Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#28a745',
  cancelButtonColor: '#dc3545',
  confirmButtonText: 'Yes, Create It'
}).then((result) => {
  if (result.isConfirmed) {
  e.submit()
  }
})
return false;
}
</script>
<br><br><br><br>
<%- include("./include/footer") %>
</body>